body {
  background: url('./assets/WavesTrim_Aurora_Full-RGB2.png') no-repeat bottom fixed;
  background-size: contain;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  width: 100vw;
}

.logotype,
#canvas {
  margin: 20px auto;
  width: 20%;
}

.video-tag {
  height: 35vh;
}

.div-video {
  margin: 20px 0;
}

.icon-item {
  width: 30px;
  margin: 8px
}

.icons-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  top: 32%;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.align-video-info {
  position: relative;
}

.modal-div {
  position: absolute;
  right: -30px;
  top: 0;
}

img.img {
  width: 100vw;
}

#canvas {
  display: none
}

.btn-home {
  background: none;
  border: none;
  position: absolute;
  right: 5vw;
}

.register-div {
  display: flex;
  font-size: 20px;
  justify-content: center;
}

#snap,
.home-page {
  background: #A50646;
  border-radius: 5px;
  border-style: none;
  color: #F2F2F2;
  cursor: pointer;
  font-size: 1.6em;
  font-weight: bold;
  outline: none;
  padding: 10px;
  width: 22%;
}

a {
  text-decoration: none;
}

#controller {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

#login-error {
  display: flex;
  font-size: 1.6em;
  font-weight: bold;
  justify-content: center;
  margin: 10px;
}

.color-error {
  color: #C80000
}

.login-message {
  color: #4c4c4c;
  padding: 20vh;
}


/* modal */

.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation-duration: 0.4s;
  animation-name: animatetop;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 300px;
  margin: auto;
  padding: 0;
  position: relative;
  width: 700px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
}

.modal-body {
  font-size: 1.3em;
}

.infos {
  color: #B2B2B2;
  cursor: pointer;
  font-size: 25px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  float: right;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.modal-header {
  background-color: #A50646;
  border-radius: 5px 5px 0 0;
  ;
  color: white;
  padding: 2px 16px;
}

.modal-body {
  padding: 20px 16px;
}

.modal-body p {
  padding: 10px;
}

form.get-name {
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.label-name {
  padding-right: 8px;
}